<ion-card>
  <ion-card-content>
    <div class="row">
      <div>
        <span style="font-weight: bold">GP: </span>
        <span class="secondary">{{ user.gamesPlayed }}</span>
      </div>
      <div>
        <span style="font-weight: bold">Avg Score: </span>
        <span class="secondary">{{ user.averageScore }}%</span>
      </div>
      <div>
        <span style="font-weight: bold">Streak: </span>
        <span class="secondary">{{ user.streak }}</span>
      </div>
    </div>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <div class="row">
      <div>
        <span style="font-weight: bold">Most Played Category: </span>
        <span class="secondary">{{ user.mostPlayedCat }}</span>
      </div>
    </div>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-content>
    <div class="row">
      <div>
        <span style="font-weight: bold">Best Category: </span>
        <span class="secondary">{{ user.bestCat }}</span>
      </div>
    </div>
  </ion-card-content>
</ion-card>
